:root {
--Dark-Blue: hsl(240, 38%, 20%);
--Grayish-Blue: hsl(240, 18%, 77%);

}

@media (min-width: 1300px) and (max-width: 2000px) {

body {
    box-sizing: border-box;
    margin: 0%;
    width: 100%;   
    height: 100vh;
    text-decoration: none; 
    padding: 0%;
    font-family: 'Inter', sans-serif;
        
}

.container-grip {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(12,1fr);

}

.background-1 {
    grid-column: 1/4;
    grid-row: 8/13;
    background: url(./images/pattern-curve.svg) no-repeat bottom left;    
    background-size: contain; 
}

.background-2 {
    grid-column: 5/9;
    grid-row: 2/11;
    background: url(./images/pattern-bg.svg) no-repeat center left;    
    background-size: contain;   
    display: flex;
    align-items: center;
} 

.background-2 img {
    width: 64%;
    height: auto;
    padding-left: 35px;    
}

.background-3 {
    grid-column: 2/6;
    grid-row: 4/10;
    background: url(./images/pattern-quotes.svg) no-repeat;    
    background-size: auto; 
    background-position: 18% 0%;
}

.background-3 p {
    font-size: 32px;
    font-weight: 300;
    padding-top: 30px;
    padding-right: 40px;
    text-align: center;
    color: var(-- Dark-Blue);
}

.contain-autor {
    font-size: 18px;    
}
 .contain-autor :nth-child(2) {
    color: var(--Grayish-Blue);
 }

.boton {
    background: white;
    position: relative;
    top: 880%;
    left: 450%;    
    width: 90px;
    height: 40px;  
    border-radius: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 17px 20px -3px rgba(0,0,0,0.41);
    -webkit-box-shadow: 6px 17px 20px -3px rgba(0,0,0,0.41);
    -moz-box-shadow: 6px 17px 20px -3px rgba(0,0,0,0.41);
    display: flex;
    justify-content: space-around;
}

}

@media (min-width: 375px) and (max-width: 1300px) {
body {
    box-sizing: border-box;
    margin: 0%;
    width: auto;   
    height: 100vh;
    text-decoration: none; 
    padding: 0%;
    font-family: 'Inter', sans-serif;   
    min-width: 375px;       
}

.container-grip {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(12,1fr);
}

.background-1 {
    grid-column: 1/7;
    grid-row: 10/13;
    background: url(./images/pattern-curve.svg) no-repeat bottom left;    
    background-size: contain; 
}

.background-2 {
    grid-column: 1/9;
    grid-row: 1/7;
    background: url(./images/pattern-bg.svg) no-repeat center;  
    background-size: 320px;   
    display: flex;
    align-items: center; 
    justify-content: center;
} 

.background-2 img {
    width: 65%;
    height: auto;    
}

.background-3 {
    grid-column: 2/8;
    grid-row: 7/12;
    background: url(./images/pattern-quotes.svg) no-repeat center top;    
    background-size: 60px;      
}

.background-3 p {
    font-size: 16px;
    font-weight: 300;
    padding: 10px 0px 0px 0px;    
    text-align: center;
    color: var(-- Dark-Blue);
}
.contain-autor {
    font-size: 16px;  
    text-align: center;  
    display: flex;
    flex-direction: column;

}
 .contain-autor :nth-child(2) {
    color: var(--Grayish-Blue);
 }

 .boton {
    background: white;
    position: relative;   
    top: -110%;  
    left: 150%;
    width: 90px;
    height: 40px;  
    border-radius: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 17px 20px -3px rgba(0,0,0,0.41);
    -webkit-box-shadow: 6px 17px 20px -3px rgba(0,0,0,0.41);
    -moz-box-shadow: 6px 17px 20px -3px rgba(0,0,0,0.41);
    display: flex;
    justify-content: space-around;
}

}
